body {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    background-color: #f8f6f0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
}

.question {
    font-size: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: rgba(0, 0, 0, .03);
    font-weight: 500;
    padding-bottom: 10px;
    /*font-size: 1.25rem;*/
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    padding-left: 1.25rem;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
}

button:hover {
    background-color: #38a;
}


.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 200px;
}


.contain {
    max-width: 720px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
}
